

#include <windows.h>
#include "wrc.h"
#include <wrgui.rc>
#include "CAL.h"

#include "application.h"

#include "CAL_buildver.h"

#include <generic.rc>
#include "CAL.hrc" /* RUN024 */ 

STRINGTABLE  DISCARDABLE
BEGIN
  RCTL_HELP, "CAL.chm"
  RCID_VALIDATION_ERROR, "Field does not contain permitted value; Please retry; Use Help for field information."
  RCID_HELP_TITLE, " Help"
  RCTL_12700000_CALCULAT_WIN, "ASER CALCULAT"
  RCTL_12700001_AMATY, "amaty"
  RCID_F600006_DROP_LIST1, "e"
  RCID_F600005_DROP_LIST1, "-"
  RCID_F600002_DROP_LIST1, "+"
END

/*   Help sub-table for RCHLP_12700000_CALCULAT_WIN window   */
RCHLP_12700000_CALCULAT_WIN RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  RCID_11F00005_NUMBER1ST, RCID_11F00005_NUMBER1ST
  RCMD_11000000_PLUS, RCMD_11000000_PLUS
  RCMD_11000002_MINS, RCMD_11000002_MINS
  RCID_11F00003_NUMBER2, RCID_11F00003_NUMBER2
  RCMD_11000006_NO_COMMAND, RCMD_11000006_NO_COMMAND
  RCID_11F00007_RESULT, RCID_11F00007_RESULT
  RCMD_1100000A_NO_COMMAND, RCMD_1100000A_NO_COMMAND
  RCMD_11000009_CLEAR, RCMD_11000009_CLEAR
  RCMD_WINDOW, RCMD_WINDOW
  RCID_VALIDATION_ERROR, RCID_VALIDATION_ERROR
  RCID_EXIT_STATE_ERROR, RCID_EXIT_STATE_ERROR
  0
END

/*   Help sub-table for RCHLP_12700001_AMATY window   */
RCHLP_12700001_AMATY RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  RCID_11F00013_ALLLLLLL, RCID_11F00013_ALLLLLLL
  RCID_11F00017_RESULT, RCID_11F00017_RESULT
  RCID_11F00015_TOTAL_REAL, RCID_11F00015_TOTAL_REAL
  RCMD_1100000F_NO_COMMAND, RCMD_1100000F_NO_COMMAND
  RCMD_1100000E_NO_COMMAND, RCMD_1100000E_NO_COMMAND
  RCMD_11000012_NO_COMMAND, RCMD_11000012_NO_COMMAND
  RCID_F700016_DROP_LIST1, RCID_F700016_DROP_LIST1
  RCMD_1100001E_ENTER, RCMD_1100001E_ENTER
  RCMD_11000011_NO_COMMAND, RCMD_11000011_NO_COMMAND
  RCMD_11000010_NO_COMMAND, RCMD_11000010_NO_COMMAND
  RCMD_11000014_NO_COMMAND, RCMD_11000014_NO_COMMAND
  RCMD_11000019_NO_COMMAND, RCMD_11000019_NO_COMMAND
  RCMD_1100001A_NO_COMMAND, RCMD_1100001A_NO_COMMAND
  RCMD_1100001B_NO_COMMAND, RCMD_1100001B_NO_COMMAND
  RCMD_1100001D_NO_COMMAND, RCMD_1100001D_NO_COMMAND
  RCMD_1100000B_PLUS, RCMD_1100000B_PLUS
  RCMD_1100001F_MINS, RCMD_1100001F_MINS
  RCMD_1100000D_RETURN, RCMD_1100000D_RETURN
  RCMD_1100000C_NO_COMMAND, RCMD_1100000C_NO_COMMAND
  RCID_11F00008_TEXT1111, RCID_11F00008_TEXT1111
  RCMD_WINDOW, RCMD_WINDOW
  RCID_VALIDATION_ERROR, RCID_VALIDATION_ERROR
  RCID_EXIT_STATE_ERROR, RCID_EXIT_STATE_ERROR
  0
END

/* Application help table */
RCID_13300000_CAL RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  RCID_12700000_CALCULAT_WIN, RCHLP_12700000_CALCULAT_WIN, RCID_12700000_CALCULAT_WIN,
  RCID_12700001_AMATY, RCHLP_12700001_AMATY, RCID_12700001_AMATY,
  RCDB_ABOUT, RCDB_ABOUT, RCDB_ABOUT,
  RCID_VALIDATION_ERROR, RCID_VALIDATION_ERROR, RCID_VALIDATION_ERROR,
  RCID_EXIT_STATE_ERROR, RCID_EXIT_STATE_ERROR, RCID_EXIT_STATE_ERROR,
  0
END

/*   Help subtable for validation error message box.   */
/*   Help sub-table for RCID_VALIDATION_ERROR window   */
RCID_VALIDATION_ERROR RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  RCMD_ABOUT, RCDB_ABOUT
  RCMD_HELP, -1514
  RCMD_HELP_FOR_HELP, -1513
  RCMD_EXTENDED_HELP, RCMD_EXTENDED_HELP
  RCMD_KEYS_HELP, -1511
  RCMD_HELP_INDEX, RCMD_HELP_INDEX
  RCID_VALIDATION_ERROR, RCID_VALIDATION_ERROR
  RCID_EXIT_STATE_ERROR, RCID_EXIT_STATE_ERROR
  0
END

/*   Help subtable for exit state error message box.   */
/*   Help sub-table for RCID_EXIT_STATE_ERROR window   */
RCID_EXIT_STATE_ERROR RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  RCMD_ABOUT, RCDB_ABOUT
  RCMD_HELP, -1514
  RCMD_HELP_FOR_HELP, -1513
  RCMD_EXTENDED_HELP, RCMD_EXTENDED_HELP
  RCMD_KEYS_HELP, -1511
  RCMD_HELP_INDEX, RCMD_HELP_INDEX
  RCID_VALIDATION_ERROR, RCID_VALIDATION_ERROR
  RCID_EXIT_STATE_ERROR, RCID_EXIT_STATE_ERROR
  0
END

RCID_12700000_CALCULAT_WIN ICON  DISCARDABLE PRELOAD defaultw.ico

RCID_12700000_CALCULAT_WIN ACCELERATORS  DISCARDABLE
BEGIN
  VK_F1,          ID_CONTEXT_HELP,        VIRTKEY, SHIFT, NOINVERT
  VK_ESCAPE,      RCMD_ESCAPE,              VIRTKEY, NOINVERT
  VK_F1, RCMD_HELP , VIRTKEY
END

STRINGTABLE  DISCARDABLE
BEGIN
RCID_12700000_CALCULAT_WIN, "RCID_12700000_CALCULAT_WIN_TOPLEVELMENU"
END
/* Top level menu IDs */
RCID_12700000_CALCULAT_WIN_TOPLEVELMENU RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
END


RCID_12700000_CALCULAT_WIN DIALOGEX  DISCARDABLE 149, 176, 405, 124
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX
     | WS_MAXIMIZEBOX | WS_CLIPCHILDREN
CAPTION "ASER CALCULAT"
CLASS "IEFWINDOW"
FONT 10, "System"
BEGIN
  LTEXT "Number1:", RCLT_11F00005_NUMBER1ST, 147, 19, 34, 12, WS_GROUP
       | WS_VISIBLE | SS_LEFTNOWORDWRAP | SS_LEFT
  CONTROL "NY", RCID_11F00005_NUMBER1ST, "edit", WS_CHILD | WS_VISIBLE 
       | WS_BORDER | WS_TABSTOP | ES_LEFT, 187, 20, 42, 9
  PUSHBUTTON "+", RCMD_11000000_PLUS, 277, 23, 36, 16, BS_PUSHBUTTON | WS_GROUP
  PUSHBUTTON "-", RCMD_11000002_MINS, 316, 23, 37, 16, BS_PUSHBUTTON
  LTEXT "Number2:", RCLT_11F00003_NUMBER2, 147, 36, 35, 12, WS_GROUP | WS_VISIBLE
       | SS_LEFTNOWORDWRAP | SS_LEFT
  CONTROL "NY", RCID_11F00003_NUMBER2, "edit", WS_CHILD | WS_VISIBLE  | WS_BORDER
       | WS_TABSTOP | ES_LEFT, 187, 38, 42, 9
  PUSHBUTTON "*", RCMD_11000006_NO_COMMAND, 297, 44, 37, 16, BS_PUSHBUTTON
  LTEXT "result:", RCLT_11F00007_RESULT, 134, 58, 24, 12, WS_GROUP | WS_VISIBLE
       | SS_LEFTNOWORDWRAP | SS_LEFT
  CONTROL "NY", RCID_11F00007_RESULT, "edit", WS_CHILD | WS_VISIBLE  | WS_BORDER
       | ES_READONLY | ES_LEFT, 164, 59, 78, 9
  PUSHBUTTON "Expert Amaty", RCMD_1100000A_NO_COMMAND, 133, 88, 48, 16, 
      BS_PUSHBUTTON
  PUSHBUTTON "Clear", RCMD_11000009_CLEAR, 186, 88, 36, 16, BS_PUSHBUTTON
END

RCID_12700001_AMATY ICON  DISCARDABLE PRELOAD defaultw.ico

RCID_12700001_AMATY ACCELERATORS  DISCARDABLE
BEGIN
  VK_F1,          ID_CONTEXT_HELP,        VIRTKEY, SHIFT, NOINVERT
  VK_ESCAPE,      RCMD_ESCAPE,              VIRTKEY, NOINVERT
  VK_F1, RCMD_HELP , VIRTKEY
END

STRINGTABLE  DISCARDABLE
BEGIN
RCID_12700001_AMATY, "RCID_12700001_AMATY_TOPLEVELMENU"
END
/* Top level menu IDs */
RCID_12700001_AMATY_TOPLEVELMENU RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
END


RCID_12700001_AMATY DIALOGEX  DISCARDABLE 153, 125, 405, 171
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
     | DS_ABSALIGN | WS_CLIPCHILDREN
CAPTION "amaty"
CLASS "IEFWINDOW"
FONT 10, "System"
BEGIN
  LTEXT "All Number", RCLT_11F00013_ALLLLLLL, 80, 10, 40, 12, WS_GROUP
       | WS_VISIBLE | SS_LEFTNOWORDWRAP | SS_LEFT
  CONTROL "NY", RCID_11F00013_ALLLLLLL, "edit", WS_CHILD | WS_VISIBLE 
       | WS_BORDER | ES_READONLY | ES_LEFT | ES_AUTOHSCROLL, 135, 12, 203, 9
  LTEXT "Result", RCLT_11F00017_RESULT, 84, 28, 25, 12, WS_GROUP | WS_VISIBLE
       | SS_LEFTNOWORDWRAP | SS_LEFT
  CONTROL "NY", RCID_11F00017_RESULT, "edit", WS_CHILD | WS_VISIBLE  | WS_BORDER
       | ES_READONLY | ES_LEFT, 135, 29, 69, 9
  LTEXT "Enter real", RCLT_11F00015_TOTAL_REAL, 80, 45, 35, 12, WS_GROUP
       | WS_VISIBLE | SS_LEFTNOWORDWRAP | SS_LEFT
  CONTROL "NY", RCID_11F00015_TOTAL_REAL, "edit", WS_CHILD | WS_VISIBLE 
       | WS_BORDER | WS_TABSTOP | ES_LEFT, 133, 47, 76, 9
  PUSHBUTTON "1", RCMD_1100000F_NO_COMMAND, 114, 64, 36, 16, BS_PUSHBUTTON
       | WS_GROUP
  PUSHBUTTON "2", RCMD_1100000E_NO_COMMAND, 159, 64, 36, 16, BS_PUSHBUTTON
  PUSHBUTTON "3", RCMD_11000012_NO_COMMAND, 204, 64, 36, 16, BS_PUSHBUTTON
  LTEXT "Drop List1:", RCLT_F700016_DROP_LIST1, 272, 71, 38, 12, WS_GROUP
       | WS_VISIBLE | SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | SS_LEFT
  COMBOBOX RCID_F700016_DROP_LIST1, 316, 70, 26, 44, WS_TABSTOP | WS_GROUP
       | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT
  PUSHBUTTON "Ok", RCMD_1100001E_ENTER, 352, 70, 36, 16, BS_PUSHBUTTON
  PUSHBUTTON "4", RCMD_11000011_NO_COMMAND, 114, 83, 36, 16, BS_PUSHBUTTON
  PUSHBUTTON "5", RCMD_11000010_NO_COMMAND, 159, 83, 36, 16, BS_PUSHBUTTON
  PUSHBUTTON "6", RCMD_11000014_NO_COMMAND, 204, 83, 36, 16, BS_PUSHBUTTON
  PUSHBUTTON "7", RCMD_11000019_NO_COMMAND, 114, 102, 37, 16, BS_PUSHBUTTON
  PUSHBUTTON "8", RCMD_1100001A_NO_COMMAND, 160, 102, 36, 16, BS_PUSHBUTTON
  PUSHBUTTON "9", RCMD_1100001B_NO_COMMAND, 204, 102, 36, 16, BS_PUSHBUTTON
  PUSHBUTTON "0", RCMD_1100001D_NO_COMMAND, 160, 120, 37, 16, BS_PUSHBUTTON
  PUSHBUTTON "+", RCMD_1100000B_PLUS, 200, 140, 37, 16, BS_PUSHBUTTON | BS_DEFPUSHBUTTON
  PUSHBUTTON "-", RCMD_1100001F_MINS, 244, 140, 36, 16, BS_PUSHBUTTON
  PUSHBUTTON "back", RCMD_1100000D_RETURN, 284, 140, 37, 16, BS_PUSHBUTTON
  PUSHBUTTON "Clear", RCMD_1100000C_NO_COMMAND, 330, 140, 37, 16, BS_PUSHBUTTON
  LTEXT "StringPlusOperator", RCLT_11F00008_TEXT1111, 9, 159, 64, 12, WS_GROUP
       | WS_VISIBLE | SS_LEFTNOWORDWRAP | SS_LEFT
  CONTROL "NY", RCID_11F00008_TEXT1111, "edit", WS_CHILD | WS_VISIBLE 
       | WS_BORDER | WS_TABSTOP | ES_LEFT, 76, 159, 288, 9
END

